
  /*
    wrapper
  */

#wrapperImg {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 408px;
    margin-top: 3%;
  }
  
  
  .imgWelcome {
    
    position:relative;
    width: 612px;
    height: 408px;
  }
  
  
  .imgWelcome img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent); 
    z-index: 1; 
  }
  
  
  .imageText {
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 2; 
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px; 
    color: white; 
    font-size: 2rem; 
    font-weight: bold; 
  }
  
  
  .lilImageText {
    font-size: 1.2rem; 
    font-weight: normal; 
  }
  
  /*
  welcometext
  */
  
.wrapperText{
    width: 50%;
    margin-left: 25%;
}
.welcomeText {
    margin-top: 20px; 
    text-align: center; 
    color: #333; 
  }
  
  .welcomeText h2 {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 10px; 
  }
  
  .welcomeText p {
    text-align: left;
    font-size: 1.2rem; 
    line-height: 1.6; 
  }
  .tryBot{font-size: 2rem;}

  